include supremm/gen-pmlogger-control.py
include setup.py
include supremm/Job.py
include supremm/__init__.py
include supremm/account.py
include supremm/accounting.py
include supremm/batch_acct.py
include supremm/config.py
include supremm/errors.py
include supremm/indexarchives.py
include supremm/ingest_jobscripts.py
include supremm/lariat.py
include supremm/linuxhelpers.py
include supremm/outputter.py
include supremm/pcparchive.py
include supremm/plugin.py
include supremm/processhelpers.py
include supremm/scripthelpers.py
include supremm/statistics.py
include supremm/subsample.py
include supremm/summarize.py
include supremm/summarize_jobs.py
include supremm/supremmconf.py
include supremm/supremm_update
include supremm/supremm-setup
include supremm/xdmodaccount.py
include supremm/puffypcp/puffypcp.pyx
include supremm/puffypcp/pcp.pxd
include supremm/plugins/Block.py
include supremm/plugins/Catastrophe.py
include supremm/plugins/TaccCatastrophe.py
include supremm/plugins/CpuPerfCounters.py
include supremm/plugins/TaccPerfCounters.py
include supremm/plugins/CpuUsage.py
include supremm/plugins/CpuUserTimeseries.py
include supremm/plugins/GpuUsage.py
include supremm/plugins/Gpfs.py
include supremm/plugins/GpfsTimeseries.py
include supremm/plugins/InfiniBand.py
include supremm/plugins/InfiniBandTimeseries.py
include supremm/plugins/Lnet.py
include supremm/plugins/Lustre.py
include supremm/plugins/MemoryUsage.py
include supremm/plugins/MemUsageTimeseries.py
include supremm/plugins/Network.py
include supremm/plugins/UncoreCounters.py
include supremm/plugins/TaccUncoreCounters.py
include supremm/plugins/__init__.py
include supremm/preprocessors/__init__.py
include supremm/preprocessors/SlurmProc.py
include config/config.json
include config/templates/slurm/slurm-epilog
include config/templates/slurm/slurm-prolog
include config/templates/pmlogger/control
include config/templates/pmlogger/pmlogger-supremm.config
include config/templates/pmda-logger/logger.conf
include config/templates/pmie/procpmda_check.sh
include config/templates/pmie/control
include config/templates/pmie/pcp-restart.sh
include config/templates/pmie/pmie-supremm.config
include assets/modw_supremm.sql
include assets/mongo_setup.j
